h1{
    /* position: define como um elemento pode ser posicionado*/
    /*relative: posicionado de acordo com o fluxo normal do documento*/
    position: relative;
    text-align: center;
    color: #66296e;
    /*height: altura da área do conteúdo de um elemento*/
    height: auto; 
    margin-top: 80px;
    margin-bottom: 30px;

}
p{
    
    text-align: center;
    color: #220422;
    margin-top: 20px;
    margin-bottom: 20px;
 
}